In [1]:
import os
import pandas as pd

In [2]:
tbc_dir = os.path.join('Health_DataSet', 'Tuberculosis incidence (per 100,000 people).xlsx')
u5_dir = os.path.join('Health_DataSet', 'Mortality rate, under-five (per 1,000 live births).xlsx')
adl_dir = os.path.join('Health_DataSet', 'Mortality rate, male adult (per 1,000 people).xlsx')
exp_dir = os.path.join('Health_DataSet', 'Current health expenditure (% of GDP).xlsx')

In [14]:
tbc_cols = [0, 1, 2, 4, 6, 8, 10, 12, 14, 16]
exp_cols = [0, 1, 2, 4, 6, 8, 10, 12, 14, 16]
u5_cols = [0, 1, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
adl_cols = [0, 1, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
tbc_data = pd.read_excel(tbc_dir, 
                       sep=',',
                       usecols=tbc_cols, 
                       na_values = ['..', 'n.a', 'NaN'])
u5_data = pd.read_excel(u5_dir, 
                       sep=',',
                      usecols=u5_cols, 
                      na_values = ['..', 'n.a', 'NaN'])
adl_data = pd.read_excel(adl_dir, 
                       sep=',',
                       usecols=adl_cols, 
                       na_values = ['..', 'n.a', 'NaN'])
exp_data = pd.read_excel(exp_dir,  
                       sep=',',
                       usecols=exp_cols, 
                       na_values = ['..', 'n.a', 'NaN'])

In [20]:
print(tbc_data.dtypes)
print(tbc_data.isna().sum())
print(tbc_data.shape)

HDI Rank (2017)    float64
Country             object
2000               float64
2005               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
dtype: object
HDI Rank (2017)    6
Country            0
2000               4
2005               1
2010               1
2011               0
2012               0
2013               0
2014               0
2015               0
dtype: int64
(194, 10)

In [21]:
print(u5_data.dtypes)
print(u5_data.isna().sum())
print(u5_data.shape)

HDI Rank (2017)    float64
Country             object
1990               float64
1995               float64
2000               float64
2005               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
dtype: object
HDI Rank (2017)    6
Country            0
1990               0
1995               0
2000               0
2005               0
2010               0
2011               0
2012               0
2013               0
2014               0
2015               0
dtype: int64
(193, 12)

In [22]:
print(adl_data.dtypes)
print(adl_data.isna().sum())
print(adl_data.shape)

HDI Rank (2017)    float64
Country             object
1990               float64
1995               float64
2000                 int64
2005               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
dtype: object
HDI Rank (2017)     2
Country             0
1990                1
1995                3
2000                0
2005                3
2010                3
2011                4
2012                5
2013                5
2014                8
2015               31
dtype: int64
(188, 12)

In [23]:
print(exp_data.dtypes)
print(exp_data.isna().sum())
print(exp_data.shape)

HDI Rank (2017)    float64
Country             object
2000               float64
2005               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
dtype: object
HDI Rank (2017)    4
Country            0
2000               5
2005               2
2010               2
2011               2
2012               1
2013               2
2014               2
2015               2
dtype: int64
(188, 10)